<main>
<div class="notice"><%=   flash[:notice]  %></div>

<div class="show-item">
<p><strong>Title:</strong><%= @book.title %></p>
</div>
<div class="show-item">
<p><strong>Body:</strong><%= @book.body %></p>
</div>


<%= link_to "Edit", edit_book_path(@book.id) %>|<%= link_to "back", "/books" %>
</main>